@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-leftRight {
    padding-left: 144px;
    padding-right: 144px;
  }
  .mx-leftRight {
    margin-left: 155px;
    margin-right: 155px;
  }
}
